* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  background-color: rgb(159, 229, 236);
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  align-items: center;
}
#wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 800px;
  min-height: 60%;
  padding: 1rem;
  position: absolute;
  background-color: #6abecf;
  align-items: center;
  justify-content: center;
  border: 3px solid #6abecf;
  border-radius: 16px;
}
header {
  align-items: center;
  justify-content: center;
  position: relative;
  /* left: 25%; */
  /* top: 10%; */
  /* transform: translate(-50%,-10%); */
}
header h1 {
  margin: 8xp;
  padding: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header p {
  margin: 4px;
  padding: 4px;
  font-size: 21px;
}

#input {
  display: flex;
  margin: 15px;
  padding: 10px;
}

#add-task {
  margin: 8px;
  border: 2px solid white;
  width: 300px;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
}

#input .btn {
  margin: 0px 8px;
  border: 2px solid lightgray;
  padding: 12px;
  font-size: 12px;
  border-radius: 6px;
  background-color: darkcyan;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  color: aliceblue;
  font-weight: bold;
  /* height: 45px; */
}

#input .btn:hover {
  color: aliceblue;
  background-color: darkolivegreen;
  border: 2px solid darkolivegreen;
  border-radius: 6px;
}

#count {
  display: flex;
  margin: 20px;
}
#count h3 {
  margin: 0px 90px;
}

#list {
  list-style: none;
  width: 80%;
  margin-top: 1.5rem;
  padding: 0;
}

#list .task-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(231, 228, 228);
  padding: 0.8rem 1.2rem;
  margin-bottom: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 1rem;
}

.task-delete-btn {
  margin: 0px 8px;
  border: 2px solid lightgray;
  padding: 12px;
  font-size: 12px;
  border-radius: 6px;
  background-color: darkcyan;
  font-weight: bold;
  color: white;
}

.done .task-text {
  text-decoration: line-through;
  color: #777;
}
